h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 54px;
    color: darkgoldenrod;
}

p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:rgb(102, 177, 102)
}

.txt-azul{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:rgba(0, 0, 255, 0.603)
}


body{ 
    background-color: rgb(228, 228, 225);
    margin: 0px;
}

header{
    width: 100%;
    height: 60px;
    background-color: indigo;
    display: block;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.15);
}

main{
    width: 1000px;
    height: 800px;
    background-color: #fff;
    display: inline-block;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.15);
}

.box {
    width: 300px;
    height: 200px;
    display: block;
    background-color: chartreuse;
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 25px;

    /* position: absolute;*\

}